
body{
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}#one{
    font-family:verdana;
    font-weight:normal;
    color:#fff;
    text-align: center;
}
#two{
    font-size: 42px;
    font-weight: 300;
    display: block;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
}
#three{
    color: Gray;
    font-size: 21px;
    font-family: Verdana, sans-serif;
    text-align: center;
}
#four{
    color: Gray;
    font-size: 21px;
    text-align: right;
}
#five{
    
}